.container-home{
    display: flex;
    flex-direction: column;
}

.title-container-home{
    font-size: 3em;
    padding: 1rem 0;
    margin-left: 1rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 800;
    font-family: 'Smooch Sans', sans-serif; 
}

.title-container-home:after{
    content: '';
    display: block;
    width: 80px;
    margin-top: 5px;
    height: 3px;
    background-color: rgb(0, 131, 98);
}

.container-grid{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: grid;
    
    grid-template: 
    "tasha-tracie baco-exu-blues mc-tha gloria-groove" 40vh
    "tasha-tracie mateus-aleluia mc-tha baiana-system" 40vh
    "racionais racionais mc-tha charlie-brown-jr" 50vh
    "iza pitty pitty o-terno" 40vh
    "iza juliano-holanda tim-maia pabllo-vittar" 30vh
    "iza nelson-goncalves tim-maia pabllo-vittar" 20vh
    "iza nelson-goncalves cpm-22 pabllo-vittar" 30vh
    / 30% 20% 20% 20%;

    justify-content: center;
    align-content: center;

    gap: .5rem;
    padding: .5rem;
    margin-bottom: 2rem;
}

.image-card{
    overflow: hidden;
    width: 100%;
}

.image-card img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .container-grid{
        grid-template-columns: 2fr 2fr;
        grid-template-areas:
        "tasha-tracie  tasha-tracie"
        "tasha-tracie  tasha-tracie"
        "mc-tha  baco-exu-blues"
        "mc-tha  gloria-groove"
        "mc-tha baiana-system"
        "mateus-aleluia  mateus-aleluia"
        "mateus-aleluia  mateus-aleluia"
        "racionais  racionais"
        "racionais  racionais"
        "cpm-22  charlie-brown-jr"
        "pitty  pitty"
        "o-terno  iza"
        "juliano-holanda  iza"
        "pabllo-vittar  tim-maia"
        "pabllo-vittar  tim-maia"
        "pabllo-vittar  nelson-goncalves";
        padding: 2rem
    }
}

@media only screen and (max-width: 600px) {
    .container-grid{
        grid-template-areas:none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
