.container-home{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 2em;
    text-align: center;
    padding: 1rem 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.container-grid{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: grid;
    grid-template: 
    "tasha-tracie bacoexublues mc-tha gloria-groove" 40vh
    "tasha-tracie mateus-aleluia mc-tha baianasystem" 40vh
    "racionais racionais mc-tha charlie-brown-jr" 50vh
    "iza pitty pitty o-terno" 50vh
    "iza juliano-holanda tim-maia pabllo-vittar" 30vh
    "iza nelson-goncalves tim-maia pabllo-vittar" 40vh
    "iza nelson-goncalves cpm22 pabllo-vittar" 40vh
    / 30% 20% 20% 20%;

    justify-content: center;
    align-content: center;

    gap: .5rem;
    padding: .5rem
}

.image-card{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.tasha-tracie{
    grid-area: tasha-tracie;
    background-color: orange;
    background-image: url(../../public/images/tasha-tracie.webp);
}

.baco-exu-blues{
    grid-area: bacoexublues;
    background-color: cyan;
    background-image: url(../../public/images/baco-exu-blues.jpg);
}

.mc-tha{
    grid-area: mc-tha;
    background-color: olive;
    background-image: url(../../public/images/mc-tha.jpg);
}

.gloria-groove{
    grid-area: gloria-groove;
    background-color: pink;
    background-image: url(../../public/images/gloria-groove-2.jpg);
}

.mateus-aleluia{
    grid-area: mateus-aleluia;
    background-color: brown;
    background-image: url(../../public/images/mateus-aleluia.jpg);
}

.baiana-system{
    grid-area: baianasystem;
    background-color: paleturquoise;
    background-image: url(../../public/images/baiana-system.jpg);
}

.racionais{
    grid-area: racionais;
    background-color: brown;
    background-image: url(../../public/images/racionais.jpg);
}

.charlie-brown-jr{
    grid-area: charlie-brown-jr;
    background-color: burlywood;
    background-image: url(../../public/images/charlie-brown-jr.png);
}

.pitty{
    grid-area: pitty;
    background-color: red;
    background-image: url(../../public/images/pitty.jpg);
}

.o-terno{
    grid-area: o-terno;
    background-color: greenyellow;
    background-image: url(../../public/images/o-terno.jpg);
}

.cpm-22{
    grid-area: cpm22;
    background-color: yellowgreen;
    background-image: url(../../public/images/cpm-22.jpg);
}

.pabllo-vittar{
    grid-area: pabllo-vittar;
    background-color: red;
    background-image: url(../../public/images/pabllo-vittar.jpg);
}

.juliano-holanda{
    grid-area: juliano-holanda;
    background-color: red;
    background-image: url(../../public/images/juliano-holanda.jpg);
}

.nelson-goncalves{
    grid-area: nelson-goncalves;
    background-color: red;
    background-image: url(../../public/images/nelson-gonçalves.jpg);
}

.iza{
    grid-area: iza;
    background-color: red;
    background-image: url(../../public/images/iza.jpg);
}

.tim-maia{
    grid-area: tim-maia;
    background-color: red;
    background-image: url(../../public/images/tim-maia.jpg);
}