.App{
    display: flex;
    min-height: 100vh;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    height: 10vh;
}




/* thirdRowFourthColumn */